<app-auth-route>
  <app-main-layout>
    <div class="pt-3">
      <ng-container *ngIf="users.length; then list else empty"></ng-container>
      <ng-template #list>
        <div *ngFor="let user of users">
          <app-user-card [user]="user"
                         [isUndoAction]="following.includes(user)"
                         doActionName="follow"
                         [onDo]="onFollow"
                         [onUndo]="onUnfollow"></app-user-card>
        </div>
      </ng-template>
      <ng-template #empty>
        <div class="card bg-light">
          <div class="card-body">
            <h1 class="card-title text-muted">No one to follow</h1>
            <p class="text-muted">It looks like you are already following everyone here!</p>
            <p class="text-muted">Stalker!</p>
          </div>
        </div>
      </ng-template>
    </div>
  </app-main-layout>
</app-auth-route>
