<app-auth-route>
  <app-main-layout>
    <div class="pt-3">
      <div *ngFor="let user of users">
        <div class="card mb-3 bg-light">
          <div class="card-body">
            <div class="d-flex flex-column justify-content-between align-items-center">
              <span class="display-4 text-primary">{{user.username}}</span>
              <div class="d-flex">
                <span class="badge rounded-pill bg-secondary mt-2">5 posts</span>
              </div>
              <ng-container *ngIf="!following.includes(user); then followButton else unfollowButton"></ng-container>
              <ng-template #followButton>
                <div role="button"
                     class="mt-2 me-2 position-absolute top-0 end-0 btn btn-sm btn-outline-primary rounded-pill"
                     (click)="onFollow(user)">
                  <span class="">follow</span>
                </div>
              </ng-template>
              <ng-template #unfollowButton>
                <div role="button"
                     class="mt-2 me-2 position-absolute top-0 end-0 btn btn-sm btn-outline-danger rounded-pill"
                     (click)="onUnfollow(user)">
                  <span class="">unfollow</span>
                </div>
              </ng-template>
            </div>
            <hr class="mb-1">
            <div class="d-flex flex-column">
              <small class="text-muted">Last post 3 hours ago:</small>
              <h4 class="card-title">Special title treatment</h4>
              <span class="card-text text-muted text-truncate d-inline-block mw-100">With supporting text below as a natural lead-in to additional content.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-main-layout>
</app-auth-route>
