<app-main-layout>
  <div class="d-flex justify-content-center">
    <h1 class="my-2 display-1">About</h1>
  </div>
  <h5 class="text-muted mt-3 mb-4">Here you can follow other users and see their posts on your timeline.</h5>
  <h6 class="text-muted mb-4">by Daniel Lopes Arcanjo, #8679485</h6>
  <ul class="list-group mb-3">
    <li class="list-group-item"><strong class="text-success">Recommended:</strong> seed the database first on the
      settings page
    </li>
    <li class="list-group-item">The <strong class="text-muted">explore</strong> page shows you the users you are not
      following yet.
    </li>
    <li class="list-group-item">The <strong class="text-muted">following</strong> page shows people you are... well,
      following.
    </li>
    <li class="list-group-item">The <strong class="text-muted">timeline</strong> shows posts from you and from people
      you are following.
    </li>
    <li class="list-group-item">Tap <strong class="text-muted">new post</strong> to create a post.</li>
    <li class="list-group-item">You can edit or delete your post, not other&apos;s.</li>
    <li class="list-group-item">When creating or editing a post you can save your location and make it public to the
      other users.
    </li>
    <li class="list-group-item">The post also shows comments, and lets you create those as well.</li>
    <li class="list-group-item">You can edit and delete your comments, not other&apos;s.</li>
    <li class="list-group-item">Tapping on an user&apos;s username takes you to their profile page. Tapping on your
      username up top takes you to yours.
    </li>
    <li class="list-group-item">The <strong class="text-muted">profile</strong> page show the user&apos;s posts and an
      option to follow/unfollow them. Yours
      let you edit it and logout.
    </li>
    <li class="list-group-item">The <strong class="text-muted">settings</strong> page let&apos;s you clear and/or seed
      the database. Seeding is highly
      recommended.
    </li>
  </ul>
</app-main-layout>
