<app-auth-route>
  <app-main-layout>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <span class="display-4 text-primary">{{user?.username}}</span>
      <ng-container *ngIf="!isAuthUser; then followTemplate else editButton"></ng-container>
      <ng-template #followTemplate>
        <ng-container *ngIf="!isFollowing; then followButton else unfollowButton"></ng-container>
        <ng-template #followButton>
          <div role="button"
               class="btn btn-success rounded-pill"
               (click)="onFollow()">
            <span class="">follow</span>
          </div>
        </ng-template>
        <ng-template #unfollowButton>
          <div role="button"
               class="btn btn-danger rounded-pill"
               (click)="onUnfollow()">
            <span class="">unfollow</span>
          </div>
        </ng-template>
      </ng-template>
      <ng-template #editButton>
        <div>
          <div role="button"
               class="btn btn-outline-primary rounded-pill"
               (click)="router.navigate(['profile', 'edit'])">
            <span class="">edit</span>
          </div>
          <div role="button"
               class="btn btn-outline-danger rounded-pill ms-2"
               (click)="onLogout()">
            <span class="">logout</span>
          </div>
        </div>
      </ng-template>
    </div>
    <hr class="mb-1">
    <div class="d-flex justify-content-center">
      <span class="badge rounded-pill bg-secondary mt-2">
        {{posts.length}} {{posts.length === 1 ? 'post' : 'posts'}}
      </span>
    </div>
    <div class="mt-2">
      <div *ngFor="let post of posts">
        <div class="mb-3">
          <app-post-card [post]="post"></app-post-card>
        </div>
      </div>
    </div>
  </app-main-layout>
</app-auth-route>
