<app-guest-route>
  <app-main-layout>
    <div class="d-flex justify-content-center vh-100">
      <div class="w-100">
        <div class="d-flex justify-content-center">
          <h1 class="my-5 display-1">Register</h1>
        </div>
        <form [formGroup]="form">
          <fieldset [disabled]="isLoading">
            <div class="form-floating mb-3">
              <input type="text"
                     id="username"
                     class="form-control rounded-pill"
                     [class.is-invalid]="shouldShowErrorsForControl('username')"
                     formControlName="username"
                     autocomplete="off">
              <label for="username">Username</label>
              <ng-container *ngIf="shouldShowErrorsForControl('username')">
                <ng-container *ngFor="let error of getErrors('username')">
                  <div *ngIf="error == 'alreadyExists'" class="invalid-feedback mx-3">
                    This username already exists
                  </div>
                  <div *ngIf="error == 'minlength'" class="invalid-feedback mx-3">
                    The username must be at least 3 characters long
                  </div>
                  <div *ngIf="error == 'maxlength'" class="invalid-feedback mx-3">
                    The username must be at most 6 characters long
                  </div>
                  <div *ngIf="error == 'required'" class="invalid-feedback mx-3">
                    The username is required
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="d-flex justify-content-center">
              <div class="d-flex flex-column justify-content-center">
                <button [disabled]="shouldDisableSubmit()"
                        class="btn btn-lg btn-primary rounded-pill d-flex align-items-center justify-content-center"
                        id="continueButton"
                        (click)="onSubmit()">
                  Continue
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm text-light ms-2" role="status">
                  <span class="visually-hidden">Loading...</span>
                </span>
                </button>
                <button class="btn btn-sm btn-outline-primary rounded-pill mt-2"
                        (click)="router.navigate(['login'])">
                  Already have an account?
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </app-main-layout>
</app-guest-route>
