<app-auth-route>
  <app-main-layout>
    <div class="">
      <div class="card mt-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h1 class="card-title">{{post?.title}}</h1>
            <div *ngIf="authUser?.id === postUser?.id" class="d-flex justify-content-center align-items-start">
              <button (click)="router.navigate(['posts', post?.id, 'edit'])"
                      class="btn btn-sm btn-outline-primary rounded-pill">Edit</button>
            </div>
          </div>
          <span class="card-subtitle text-muted">
            by
            <span role="button"
                  (click)="router.navigate(['users', postUser?.id])"
                  class="fw-bold text-primary">
            {{postUser?.username}}</span> {{relativeTime(post?.createdAt)}}
          </span>
          <hr>
          <p class="card-text">{{post?.body}}</p>
          <div class="d-flex justify-content-center">
          </div>
        </div>
        <div class="card-footer d-flex justify-content-center align-items-center">
            <button class="btn btn-s btn-primary rounded-pill">new comment</button>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <span class="badge rounded-pill bg-secondary my-2">
          {{postComments.length}}
          {{postComments.length === 1 ? 'comment' : 'comments'}}
        </span>
      </div>
      <ng-container *ngFor="let comment of postComments">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span class="card-subtitle text-muted">
              <span role="button"
                    (click)="router.navigate(['users', comment.userId])"
                    class="fw-bold text-primary">
                {{getCommentator(comment)?.username}}
              </span>
              {{relativeTime(comment.createdAt)}}
            </span>
            <div *ngIf="authUser.id === comment.userId" class="d-flex justify-content-center align-items-start">
              <button class="btn btn-sm btn-outline-primary rounded-pill py-0">Edit</button>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">{{post?.body}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </app-main-layout>
</app-auth-route>
