<app-auth-route>
  <app-main-layout>
    <div class="">
      <div class="bg-dark" id="map" style="width: 100%; height: 200px" #map></div>
      <div class="card mt-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h1 class="card-title">{{post?.title}}</h1>
            <div *ngIf="authUser?.id === postUser?.id" class="d-flex justify-content-center align-items-start">
              <button (click)="router.navigate(['posts', post?.id, 'edit'])"
                      class="btn btn-sm btn-outline-primary rounded-pill">Edit
              </button>
            </div>
          </div>
          <span class="card-subtitle text-muted">
            by
            <span role="button"
                  (click)="router.navigate(['users', postUser?.id])"
                  class="fw-bold text-primary">
            {{postUser?.username}}</span> {{getRelativeTime(post?.createdAt)}}
          </span><br>
          <span *ngIf="address" class="card-subtitle text-muted">
            at
            <span role="button"
                  class="text-primary">
              {{address}} </span>
          </span>
          <hr>
          <p class="card-text">{{post?.body}}</p>
          <div class="d-flex justify-content-center">
          </div>
        </div>
        <div class="card-footer d-flex justify-content-center align-items-center">
          <button (click)="router.navigate(['posts', post?.id, 'comments', 'new'])"
                  class="btn btn-s btn-primary rounded-pill">new comment
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <span class="badge rounded-pill bg-secondary my-2">
          {{postComments.length}}
          {{postComments.length === 1 ? 'comment' : 'comments'}}
        </span>
      </div>
      <ng-container *ngFor="let comment of postComments">
        <app-comment-card [comment]="comment"></app-comment-card>
      </ng-container>
    </div>
  </app-main-layout>
</app-auth-route>
