<app-main-layout>
  <div class="d-flex justify-content-center">
    <div class="w-100">
      <div class="d-flex justify-content-center">
        <h1 class="my-5 display-1">Settings</h1>
      </div>

      <fieldset [disabled]="isLoading">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column justify-content-center">
            <button (click)="onClear()"
                    class="btn btn-lg btn-outline-primary rounded-pill d-flex align-items-center justify-content-center">
              Clear Database
              <span *ngIf="isClearLoading" class="spinner-border spinner-border-sm text-primary ms-2" role="status">
                  <span class="visually-hidden">Loading...</span>
                </span>
            </button>
            <button [disabled]="isSeedDisabled"
                    (click)="onSeed()"
                    class="mt-2 btn btn-lg btn-outline-primary rounded-pill d-flex align-items-center justify-content-center">
              Seed Database
              <span *ngIf="isSeedLoading" class="spinner-border spinner-border-sm text-primary ms-2" role="status">
                  <span class="visually-hidden">Loading...</span>
                </span>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <span *ngIf="isSeedDisabled" class="text-muted mt-2">You can only seed an empty database</span>
        </div>
      </fieldset>
    </div>
  </div>
</app-main-layout>
