<div class="card mb-3 bg-light">
  <div class="card-body">
    <div class="d-flex flex-column justify-content-between align-items-center">
      <div role="button"
           (click)="router.navigate(['users', user?.id])"
           class="d-flex flex-column align-items-center">
        <span class="display-4 text-primary">{{user?.username}}</span>
        <div class="d-flex">
          <span class="badge rounded-pill bg-secondary mt-2">
            {{postCount}} {{postCount === 1 ? 'post' : 'posts'}}
          </span>
        </div>
      </div>
      <ng-container *ngIf="!isUndoAction; then doButton else undoButton"></ng-container>
      <ng-template #doButton>
        <div role="button"
             class="mt-2 me-2 position-absolute top-0 end-0 btn btn-sm btn-outline-primary rounded-pill"
             (click)="onDo(user)">
          <span class="">{{doActionName}}</span>
        </div>
      </ng-template>
      <ng-template #undoButton>
        <div role="button"
             class="mt-2 me-2 position-absolute top-0 end-0 btn btn-sm btn-outline-danger rounded-pill"
             (click)="onUndo(user)">
          <span class="">{{undoActionName}}</span>
        </div>
      </ng-template>
    </div>
    <ng-container *ngIf="lastPost">
      <hr class="mb-1">
      <div class="d-flex flex-column">
        <small class="text-muted mb-1">last post {{relativeTime(lastPost.createdAt)}}:</small>
        <h4 class="card-title">{{lastPost.title}}</h4>
        <span class="card-text text-muted text-truncate d-inline-block mw-100">
          {{lastPost.body}}</span>
      </div>
    </ng-container>
  </div>
</div>
